// Colors
$body-background: rgb(15, 20, 36);
$card-background: rgb(28, 31, 74);
$card-background-hover: rgb(52, 57, 123);
$exercise-background: rgb(74, 207, 129);
$image-border: rgb(255, 255, 255);
$info-background: rgb(88, 71, 235);
$play-background: rgb(86, 194, 230);
$self-care-background: rgb(241, 198, 91);
$social-background: rgb(117, 54, 211);
$study-background: rgb(255, 92, 124);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(189, 193, 255);
$work-background: rgb(255, 140, 102);

// Font Weights
$weight-3: 300;
$weight-4: 400;
$weight-5: 500;